meta(charset="UTF-8")
title НПК «РВТС»
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
link(rel="stylesheet" href="css/style.css")

link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
link(rel="icon" href="img/favicon/favicon.ico" type="image/x-icon")
 
meta(name="description" content="Научно-Производственная компания «РВТС» – разработчик умных систем учёта энергоресурсов (smart meter) и других отраслевых проектов в области Интернета вещей (IoT)")
 
link(rel="image_src" href="https://rvts.ru/img/og/og.jpg")
meta(property="og:type" content="website")
meta(property="og:url" content="https://rvts.ru/")
meta(property="og:image" content="https://rvts.ru/img/og/og.jpg")
meta(property="og:image:type" content="image/jpeg")
meta(property="og:image:width" content="1024")
meta(property="og:image:height" content="512")    
meta(property="og:title" content="НПК «РВТС»")
meta(property="og:description" content="Научно-Производственная компания «РВТС» – разработчик умных систем учёта энергоресурсов (smart meter) и других отраслевых проектов в области Интернета вещей (IoT).")
meta(property="og:locale" content="Ru-ru")
meta(property="og:site_name" content="https://rvts.ru/")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="https://rvts.ru/")
meta(name="twitter:title" content="НПК «РВТС»")
meta(name="twitter:description" content="Научно-Производственная компания «РВТС» – разработчик умных систем учёта энергоресурсов (smart meter) и других отраслевых проектов в области Интернета вещей (IoT).")
meta(name="twitter:creator" content="rvts.ru")
meta(name="twitter:image:src" content="https://rvts.ru/img/og/twitter.jpg")
meta(name="twitter:domain" content="https://rvts.ru/")