/*baisic*/
html{
  -webkit-locale: "ru-RU";
  direction: ltr;
  unicode-bidi: isolate;
  min-height: 100%;
}
html, body{
  min-height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}
body{
  font: 400 16px/1.2 'Arimo', sans-serif;
  color: #000;
  background: #fff;
  min-width: 310px; 
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  opacity: 1;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  &.no-scroll{
    height: 100%;
    overflow: hidden;
  }
}

/*clearfix*/
.clearfix{
  zoom: 1;
  &:before,
  &:after{
    content: '';
    display: table;
  }
  &:after{clear: both;}
}

/*box-sizing*/
*, *:before, *:after, input[type="search"]{
  box-sizing: border-box;
}

/*buttons*/
.btn{
  @include btn-reset;
  &--primery{
    padding: 14px 25px;
    background-color: #004A89;
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    &:hover{background-color: #001E89;}
  }
  &--secondary{
    padding: 14px 38px;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    &:hover{
      background-color: #fff;
      color: #000;
    }
    @media only screen and (max-width : 767px){
      span{display: none;}
    }
  }
  &--secondary-blue{
    padding: 14px 38px;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    border: 1px solid #004A89;
    border-radius: 5px;
    min-width: 224px;
    &:hover{
      border-color: #004A89;
      background-color: #001E89;
      color: #fff;
    }
  }
  &--secondary-dark{
    padding: 14px 32px;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
  }
  &--revers{
    padding: 16px 22px;
    background: #fff;
    border-radius: 5px;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #0B0B0B;
    &:hover{
      background-color: #001E89;
      color: #fff;
    }
  }
}
/*layout*/
.wrapper{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;	
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  & > *{width: 100%;}
}
.main{flex-grow: 1;}
.sec{
  padding: 150px 0;
  @media only screen and (max-width : 767px){
    padding: 80px 0;
  }
}
.sec-title{
  margin-bottom: 30px;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  @media only screen and (max-width : 767px){
    font-size: 25px;
    line-height: 30px;
  }
}
.sec-txt{
  margin: 0 auto;
  max-width: 772px;
  font-size: 20px;
  line-height: 1.6;
  p:not(:last-child){margin-bottom: 1.7em;}
  @media only screen and (max-width : 767px){
    font-size: 16px;
    line-height: 26px;
  }
}

.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1270px;
  @media only screen and (max-width : 991px){
    padding: 0 32px;
  }
  @media only screen and (max-width : 767px){
    padding: 0 20px;
  }
}

/*typographyc*/
ol,ul,li,h1,h2,h3,h4,h5,h6,p,q,figure,figcaption,blockquote,cite,fieldset,hr{    
  margin:0;
  padding: 0;    
  border: none;
}
ul li, ol li{list-style: none;}
a{
  text-decoration: none;
  outline: none;
  transition: .25s ease;
  color: #2434C8;
  text-decoration: underline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:-moz-any-link:focus ,
  &:-moz-focusring,
  &::-moz-focus-inner,
  &::-moz-focus-outer{
    outline: 0!important;
    outline: none;
  }
  &:active {outline: none;}
  &[href^="tel:"],
  &[href^="mailto:"]{white-space: nowrap;}
  &:hover{text-decoration: none;}
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}



/*form*/
.input{
  /*reset*/
  @include input-reset;
  /*my styles*/
  color: #000;
  height: 59px;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 5px;
  background-color: #fff;
  padding: 0 32px;
  &::-webkit-input-placeholder{opacity: .4; color: #000;}
  &::-moz-placeholder{opacity: .4; color: #000;}
  &:-moz-placeholder{opacity: .4; color: #000;}
  &:-ms-input-placeholder{opacity: .4; color: #000;}
  &:placeholder{opacity: .4; color: #000;}
  &:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 100px #fff !important;
    -webkit-text-fill-color: #000 !important;
    color: #000 !important;
  }
  &.error{
    border-color: red;
    color: red;
  }
  &:focus:required:valid{color: #000;}
  &:required:valid{color: #000;}
  &:focus{border-color: #000;}
  &:not(:placeholder-shown){border-color: #000;}
}